<div class="budget-data-title">
  固定費予算＋変動費予算
</div>
<div class="sum-budget-data">
  <div class="budget-data">
    <div class="budget-data-text fas fa-wallet"> 予算総額</div>
    <div class="budget-data-price">円</div>
  </div>
  <div class="budget-data">
    <div class="budget-data-text fas fa-hand-holding-usd"> 残り使える金額</div>
    <div class="budget-data-price">円</div>
  </div>
</div>
<div class="budget-data-title">
  固定費予算
</div>
<div class="fixed-budget-data">
  <div class="budget-data">
    <div class="budget-data-text fas fa-money-bill-wave"> 固定費予算</div>
    <div class="budget-data-price">円</div>
  </div>
  <div class="budget-data">
    <div class="budget-data-text fas fa-hand-holding-usd"> 残り使える金額</div>
    <div class="budget-data-price">円</div>
  </div>
</div>
<div class="budget-data-title">
  変動費予算
</div>
<div class="variable-budget-data">
  <div class="budget-data">
    <div class="budget-data-text fas fa-money-bill-wave-alt"> 変動費予算</div>
    <div class="budget-data-price">円</div>
  </div>
  <div class="budget-data">
    <div class="budget-data-text fas fa-hand-holding-usd"> 残り使える金額</div>
    <div class="budget-data-price">円</div>
  </div>
  <div class="remaining-days">
    今月残り<b><%= (Date.today.end_of_month - Date.today).numerator %></b>日
  </div>
  <div class="budget-data">
    <div class="budget-data-text fas fa-coins"> １日に使える金額</div>
    <div class="budget-data-price">
      円
    </div>
  </div>
</div>
<div class="budget-data-title">
  貯金額目安
</div>
<div class="one-day-purchase">
  <div class="budget-data">
    <div class="budget-data-text fas fa-piggy-bank">
      １日の貯金額目安
    </div>
    <div class="budget-data-price">
      <%= @saving_sum.to_s(:delimited) %>円
    </div>
  </div>
</div>
<div class="show-budget-btn">
  <%= link_to '予算詳細', budgets_path, class: "show_budget_btn", id: "budget-show-btn" %>
</div>