<%= render "shared/header" %>
<div class="input-contents">
</div>
<div class="top-contents">
  <div class="left-content">
    <h2>過去１年のデータ</h2>
    <div class="chart_box">chart挿入</div>
    <div class="annual income">
  </div>
  <div class="right-content">
    <h2>今月の収支</h2>
  </div>
</div>
<div class="botom-contents">
  <div class="add_purchase_plan">
  </div>
  <div class="purchase-plans_content">
  </div>
</div>
<%= render "shared/footer" %>