<% if model.errors.any? %>
  <div class="error-message-box">
    <label class="error-message"> 入力ミス<br>空欄の場合は０にしてください</label>
    <div class="error-alert">
      <ul>
        <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>